@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --main-blue: #2196f3;
    --grey-bg: #cfd8dc;
    --light-grey-bg: #f8f8f8;
    --text-dark: #212121;
    --input-background: #f1f5f7;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    color: white;
}